.footerBox {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.footer {
    color: white;
    border: 3px solid green;
    vertical-align: middle;
}

.footerText {
    margin: 0 auto;
}